.my-tooltip .tooltiptext {
    visibility: hidden;
    width: 400px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 500;
}

.my-tooltip:hover .tooltiptext {
    visibility: visible;
}

.my-tooltip .tooltiptext .big-icon {
    width: 390px;
}