@{
    ViewBag.Title = "Home Page";
}

@section css
{
    <link rel="stylesheet" href="~/css/home.css" />
    <link rel="stylesheet" href="~/css/ExportAnything/style.css" />
}

<form target="_blank" action="/ExportAnything/Export" method="post">
    <div id="divPhaseOne">
        <h3>Select type</h3>
        
        <div id="divTypeOptions">

        </div>

        <a href="#" id="divSubmitOne">Select</a>
    </div>
    
    <div id="divPhaseTwo">
        <h3>Design output:</h3>

        <div class="column-selections">
            <div class="header column-selection">
                <div>Input-column</div>
                <div>Output-column name</div>
                <div>Output-column index</div>
            </div>
        </div>

        <div>
            <input type="radio" id="exportTypeCsv" name="exportType" value="csv" checked/>
            <label for="exportTypeCsv">CSV</label>

            <input type="radio" id="exportTypeJson" name="exportType" value="json"/>
            <label for="exportTypeJson">JSON</label>

            <input type="radio" id="exportTypeExcel" name="exportType" value="xlsx"/>
            <label for="exportTypeExcel">EXCEL</label>

            <input type="radio" id="exportTypePdf" name="exportType" value="pdf"/>
            <label for="exportTypePdf">PDF</label>
        </div>

        <input type="submit" value="Download"/>
        
        <div class="info">
            Drag and drop column: "input-column" on the name to change the order (index)
        </div>
    </div>
    
    <div id="saveloadPanel">
        <div id="buttonWrapper">
            <a href="#" id="saveLoadToggle">Save / Load</a>
        </div>
        <div id="saveLoadWrapper">
            <textarea id="saveLoadConsole"></textarea>
            
            <div id="buttons">
                <a href="#" id="saveButton">Save</a>
                <a href="#" id="loadButton">Load</a>
            </div>
        </div>
    </div>
</form>

@section Scripts
{
    <script src="~/js/jquery.js"></script>
    <script src="~/js/ExportAnything/draggables.js"></script>
    <script src="~/js/ExportAnything/script.js"></script>
}