@{
    ViewBag.Title = "Home Page";
}

@section css
{
    <link rel="stylesheet" href="~/css/home.css" />
    <link rel="stylesheet" href="~/css/ExportAnything/style.css" />
}
<form target="_blank" action="/ExportAnything/Export" method="post">
    <div id="divPhaseOne">
        <h1>Select type:</h1>
        
        <div id="divTypeOptions">

        </div>

        <a href="#" id="divSubmitOne">Select</a>
    </div>
    
    <div id="divPhaseTwo">
        <h1>Design output:</h1>

        <div class="column-selections">
        </div>

        <div>
            <input type="radio" id="exportTypeCsv" name="exportType" value="csv" checked/>
            <label for="exportTypeCsv">CSV</label>

            <input type="radio" id="exportTypeJson" name="exportType" value="json"/>
            <label for="exportTypeJson">JSON</label>

            <input type="radio" id="exportTypeExcel" name="exportType" value="xlsx"/>
            <label for="exportTypeExcel">EXCEL</label>

            <input type="radio" id="exportTypePdf" name="exportType" value="pdf"/>
            <label for="exportTypePdf">PDF</label>
        </div>

        <input type="submit" value="Download"/>
    </div>
    
    <a href="#" id="saveLoadToggle">save/load</a>
    <div id="saveLoadWrapper">
        <a href="#" id="saveButton">Save</a>
        <a href="#" id="loadButton">Load</a>

        <textarea id="saveLoadConsole"></textarea>
    </div>
</form>

@section Scripts
{
    <script src="~/js/jquery.js"></script>
    <script src="~/js/ExportAnything/draggables.js"></script>
    <script src="~/js/ExportAnything/script.js"></script>
}