@{
    ViewBag.Title = "Home Page";
}

@section css
{
    <link rel="stylesheet" href="~/css/home.css" />
}
<form target="_blank" action="/ExportAnything/Export" method="post">
    <div class="column-selection">
    
    </div>

    <div>
        <input type="radio" id="exportTypeCsv" name="exportType" value="csv"/>
        <label for="exportTypeCsv">CSV</label>

        <input type="radio" id="exportTypeJson" name="exportType" value="json"/>
        <label for="exportTypeJson">JSON</label>

        <input type="radio" id="exportTypeExcel" name="exportType" value="xlsx"/>
        <label for="exportTypeExcel">EXCEL</label>
        
        <input type="radio" id="exportTypePdf" name="exportType" value="pdf" />
        <label for="exportTypePdf">PDF</label>
    </div>

    <input type="submit" value="Download"/>
</form>

@section Scripts
{
    <script src="js/jquery.js"></script>
    <script>
        $(function(){
            let input = eval(@Html.Raw(@ViewBag.JSONObject));

            input.forEach(function (p) {
                $('.column-selection').append(`<div><input type="checkbox" name="columns" value="${p}"><span>${p}</span></div>`);
            });
        });
    </script>
}