@model DaveyVanTilburgWebsite.Models.ModelList<Essay>

@{
    ViewBag.Title = "Essays";
}

@section css 
{
    <link rel="stylesheet" href="~/css/essay-list.css" />
}

<div class="essay-list">
    <div class="essay-row essay-list-header">
        <div class="row-cell">Date</div>
        <div class="row-cell">Title</div>
    </div>
    
    @foreach (Essay essay in Model.Items().OrderByDescending(i => i.Date()))
    {
        <div class="essay-row @essay.Type()">
            <div class="row-cell">@essay.Date()</div>
            <div class="row-cell">@Html.ActionLink(essay.Title(), "ViewItem", "Essays", new { name = essay.Title() }, new { })</div>
        </div>
    }
</div>