@using System.Linq;
@model DaveyVanTilburgWebsite.Models.MyWritingsList

@{
    ViewBag.Title = "Posts";
}

<div>
    <ul class="colorPalletedList">
        @foreach (MyWritingsListItem item in Model.Items().OrderByDescending(i => i.Name()))
        {
            <li>
                @Html.ActionLink(item.Name(), "ViewItem", "MyWritings", new { name = item.Name() }, new { @class = "text-dark" })
            </li>
        }
    </ul>
</div>

@section css {
    <link rel="stylesheet" href="~/css/UnorderedList.css" />
}