@{
    ViewBag.Title = "BookReads";
}

<div class="accordion">
    <section class="accordion-item">
        <section class="accordion-info">
            <ul>
                <li>Icon</li>
                <li>Start</li>
                <li>Finished</li>
                <li>Title</li>
                <li>Author</li>
            </ul>
        </section>
    </section>
    <section class="accordion-item type-literature">
        <section class="accordion-info">
            <ul>
                <li><img src="~/Icons/Warcraft-Archive.jpg"></li>
                <li>2020-01-13</li>
                <li>2020-01-15</li>
                <li>Warcraft: Archive</li>
                <li>Richard A. Knaak</li>
            </ul>
            <div class="accordion-item-content">
                <p>Content for section 2</p>
            </div>
        </section>
    </section>
    <section class="accordion-item type-programming">
        <h1>Section 2</h1>
        <div class="accordion-item-content">
            <p>Content for section 2</p>
        </div>
    </section>
    <section class="accordion-item type-fiction">
        <h1>Section 3</h1>
        <div class="accordion-item-content">
            <p>Content for section 3</p>
            <p>This is my default state.</p>
        </div>
    </section>
    <section class="accordion-item type-softskills">
        <h1>Section 4</h1>
        <div class="accordion-item-content">
            <p>Content for section 4</p>
        </div>
    </section>
</div>

@section css {
    <link rel="stylesheet" href="~/css/BookList.css" />
}