@model DaveyVanTilburgWebsite.Models.ModelList<Project>

@{
    ViewBag.Title = "Thoughts";
}

<div class="accordion">
    <section class="accordion-item">
        <section class="accordion-info">
            <ul>
                <li>Picture</li>
                <li>Title</li>
                <li>Description</li>
            </ul>
        </section>
    </section>

    @foreach (Project project in Model.Items().Reverse())
    {
    <section class="accordion-item accordion-row">
        <section class="accordion-info">
            <ul>
                <li>
                    <span class="iconWrapper"></span><img class="projectIcon" src="@project.Icon">
                </li>
                <li>
                    @project.Title
                </li>
                <li>
                    <div>
                        <div style="height: 90%; width: 100%">
                            @project.Description
                        </div>
                        <div style="height: 10%; width: 100%">
                            <a href="@project.Link">GitHub</a>
                        </div>
                    </div>
                </li>
            </ul>
        </section>
    </section>
    }
</div>

@section css 
{
    <link rel="stylesheet" href="~/css/List.css" />
    
    <style>
        .accordion-info ul li:first-child {
            width: 20%;
        }

        .accordion-info ul li:nth-child(2) {
            width: 20%;
        }

        .accordion-info ul li:nth-child(3) {
            width: 60%;
        }
        
        .projectIcon {
            vertical-align: middle;
            margin: auto;
            width: 90%;
        }

        .iconWrapper {
            display: inline-block;
            height: 100%;
            vertical-align: middle;
        }
    </style>
}