@model DaveyVanTilburgWebsite.Models.ModelList<Project>

@{
    ViewBag.Title = "Projects";
}

@section css 
{
    <link rel="stylesheet" href="~/css/project-list.css" />
}

<div class="project-list">
    <div class="project-row project-list-header">
        <div class="row-cell">Picture</div>
        <div class="row-cell">Title</div>
        <div class="row-cell">Description</div>
    </div>
    
    @foreach (Project project in Model.Items().Reverse())
    {
        <div class="project-row">
            <div class="row-cell"><img class="projectIcon" src="@project.Icon"></div>
            <div class="row-cell">@project.Title</div>
            <div class="row-cell cell-column">
                <div>
                    @project.Description
                </div>
                <div class="project-link">
                    <a href="@project.Link">GitHub</a>
                </div>
            </div>
        </div>
    }
</div>