@model DaveyVanTilburgWebsite.Models.ModelList<Scribbling>

@{
    ViewBag.Title = "Scribblings";
}

<div class="accordion">
    <section class="accordion-item">
        <section class="accordion-info">
            <ul>
                <li>Date</li>
                <li>Title</li>
            </ul>
        </section>
    </section>

    @foreach (Scribbling item in Model.Items().OrderByDescending(i => i.Date()))
    {
        <section class="accordion-item type-@item.Type()">
            <section class="accordion-info">
                <ul>
                    <li>
                        @item.Date()
                    </li>
                    <li>
                        @Html.ActionLink(item.Title(), "ViewItem", "Scribblings", new { name = item.Title() }, new { @class = "text-dark" })
                    </li>
                </ul>
            </section>
        </section>
    }
</div>

@section css 
{
    <link rel="stylesheet" href="~/css/List.css" />
    
    <style>
        .accordion-info ul li:first-child {
            width: 20%;
        }

        .accordion-info ul li:last-child {
            width: 80%;
        }
    </style>
}