@model DaveyVanTilburgWebsite.Models.ModelList<Thought>

@{
    ViewBag.Title = "Thoughts";
}

<label>Category:</label>
<input type="radio" id="softskills" name="category" value="type-softskills"><label for="softskills">Soft skills</label>
<input type="radio" id="literature" name="category" value="type-literature"><label for="literature">Literature</label>
<input type="radio" id="philosophy" name="category" value="type-philosophy"><label for="philosophy">Philosophy</label>
<input type="radio" id="programming" name="category" value="type-programming"><label for="programming">Programming</label>
<input type="radio" id="fiction" name="category" value="type-fiction"><label for="fiction">Fiction</label>
<input type="radio" id="nonecategory" name="category" value="none" checked="checked"><label for="nonecategory">No filter</label>

<div class="accordion">
    <section class="accordion-item">
        <section class="accordion-info">
            <ul>
                <li>Date</li>
                <li>Thought</li>
            </ul>
        </section>
    </section>

    @foreach (Thought thought in Model.Items().Reverse())
    {
    <section class="accordion-item filterable type-@thought.Category">
        <section class="accordion-info">
            <ul>
                <li>
                    @thought.Date
                </li>
                <li>
                    @thought.Content
                </li>
            </ul>
        </section>
    </section>
    }
</div>

@section css 
{
    <link rel="stylesheet" href="~/css/Thoughts.css" />
}

@section Scripts
{
    <script src="~/js/UlFilter.js"></script>
    <script>
        const itemFilter = new filter();
        itemFilter.register('input[type="radio"][name="category"]');
    </script>
}