@{
    ViewBag.Title = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div>
        With this website I wish to document and share my findings both professionally and persionally as I go threw life.<br />
        What ever I may find that I find interesting or that helped me in a sort of way that I wish to share. I will put it here first.<br />
        The website is subject to allot of change, when I find new things I will try to incorporate them in some form or matter that I see fit.<br />
        And if I find old posts or subjects uninteresting or 'not worth sharing anymore' I will remove them, or maybe archive them in some sort of manner.<br />
        <br />
        <div class="center">
            <img src="/Images/TSD_DFS_Banner.png" class="center" style="width:600px" /><br />
            If I may have 1,5h to hopefully impact your live just a little in a positive way.<br />
            Please, for me &#60;3, watch <a href="https://www.netflix.com/nl/title/81254224">The Social Dilemma</a> any way you can get a hold of it.
        </div>
    </div>
</div>