@model DaveyVanTilburgWebsite.Models.MyThoughtsList

@{
    ViewBag.Title = "Posts";
}

<div>
    <ul class="colorPalletedList">
        @foreach (MyThoughtsListItem item in Model.Posts())
        {
            <li>
                @item.Date() - @Html.ActionLink(item.Name(), "PostView", "Posts", new { postName = item.Name() }, new { @class = "text-dark" })
            </li>
        }
    </ul>
</div>

@section css {
    <link rel="stylesheet" href="~/css/UnorderedList.css" />
}