@model DaveyVanTilburgWebsite.Models.MyThoughtsList

@{
    ViewBag.Title = "Posts";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div>
        <ul>
            @foreach (string postName in Model.PostNames())
            {
                <li class="nav-item">
                    @Html.ActionLink(postName, "PostView", "Posts", new { postName })
                </li>
            }
        </ul>
    </div>
</div>